# Variáveis de ambiente — NUNCA subir para o GitHub
backend/.env
backend/venv/

# Pastas geradas automaticamente
frontend/.next/
frontend/node_modules/

# Arquivos do sistema
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo

# Arquivos temporários
*.tmp
*.log